{"subsistEnergyRequirements": [["n1", 6]], "defaultLeachingPowers": {"n1": 2}, "defaultLeachingEfficencies": {"n1": 0.5}, "defaultGatherEfficencies": {"n1": 1.0}, "name": "basic", "defaultLeachingTargetRate": 1, "advancementsPlan": {"movement+1": [[["n1", 2]], null, "MovementPlus", [1]], "movement+2": [[["n1", 2]], ["movement+1"], "MovementPlus", [2]]}, "moveEnergyRequirements": [["n1", 2]], "defaultLeachingDefenses": {"n1": 0}, "energyTypes": ["n1"], "defaultMovementRate": 1, "energyDistributions": {"n1": 2}, "initialEntityPlan": [["A", [["A1", 11]]], ["B", [["B1", 88]]]], "defaultTeachingMultiplier": 1.2, "cellLayoutPlan": ["Square", [10]]}